<div id="modal_{{id}}" class="modal fade popup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog model_dia1">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <generic-form [defaultSubmit]="defaultSubmit" (submited)="onSubmit($event)" (groupCreated)="groupCreated.emit($event)" (formChange)="formChange.emit($event)" (afterSubmited)="submit($event)" [config]="config"></generic-form>
      </div>
    </div>
  </div>
</div>
