<div class="row">
<div align="center">
  <spinner size="40" *ngIf="working" [tickness]="1" color="#2D5F8B"></spinner>
</div>
<div class="col-md-12 table-responsive">
<table class="table table-condensed table-striped table-bordered table-hover table-checkable order-column list-table" id="sample_1">
  <thead>
    <tr>
      <th *ngIf="this.config.deleteUrl">
      <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
        <input type="checkbox" #all [checked]="checkAll" (change)="toggleAll(all.checked)" class="group-checkable"  name="checkAll"/>
        <span></span>
      </label></th>
        <th *ngFor="let colName of config.colsNames">{{colName }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngIf="this.config.deleteUrl" style="text-align:center">
        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
          <input type="checkbox" class="checkboxes"  #row_id  [checked]="row.checked" (change)="onChange(row._id,row_id.checked)"/>
          <span></span>
        </label>
      </td>

      <td *ngFor="let fieldName of config.fieldsNames">
        <a  (click)="clicked($event,row)">{{ row[fieldName] }}</a>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="total > 10">
  <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
    <ul class="pagination" style="visibility: visible;">
      <li class="prev" *ngIf="page > 1">
        <a href="#" (click)="first($event)" title="First"><i class="fa fa-angle-double-left"></i></a>
      </li>
      <li class="prev" *ngIf="page > 1">
        <a href="#" (click)="prev($event)" title="Prev"><i class="fa fa-angle-left"></i></a>
      </li>
      <li class="active">
        <span>{{page}}</span>
      </li>
      <li class="next">
        <a href="#" title="Next" (click)="next($event)" *ngIf="page < last_page"><i class="fa fa-angle-right"></i></a>
      </li>
      <li class="next">
        <a href="#" (click)="last($event)" *ngIf="page < last_page" title="Last"><i class="fa fa-angle-double-right"></i></a>
      </li>
    </ul>
  </div>


</div>

  <div *ngIf="this.config.deleteUrl" class="form-actions" style="border:0px;margin-right:20px;float:right;">
    <div class="col-md-11">
      <button type="submit" (click)="delete()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
    </div>
</div>


</div>
