<h4 class="page-title">Reciept Details</h4>

<div class="row">

<div class="col-md-6 table-responsive">
  <table  class="table table-condensed table-striped table-bordered table-checkable order-column">
    <tbody>
    <tr>
      <td colspan="4" style="background:gray">
        <img src="http://198.12.156.161:4000/assets/layouts/layout/img/logo.png" alt="">
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <h4>Receipt No. {{receipt_id}}</h4>
        <h4>{{receipt_date}}</h4>
      </td>
    </tr>

      <tr *ngFor="let item of order.cart">

        <th>{{item.item_code}}</th>
        <th>{{item.desc}}</th>
        <th>{{item.qnty}}</th>
        <th>{{item.total}}</th>
      </tr>

      <tr *ngIf="order.usefulInfo">
        <td colspan="2">VAT</td>
        <td colspan="2">{{ order.usefulInfo.tax }}</td>
      </tr>
      <tr *ngIf="order.usefulInfo">
        <td colspan="2">Discount</td>
        <td colspan="2">{{ order.usefulInfo.disc }}</td>
      </tr>
      <tr *ngIf="order.usefulInfo">
        <td colspan="2">Total</td>
        <td colspan="2">{{ order.usefulInfo.total }}</td>
      </tr>

      <tr>
        <td colspan="2">Desposit Paid</td>
        <td colspan="2">{{desposit_paid}}</td>
      </tr>

      <tr>
        <td colspan="2">Balance To Pay</td>
        <td colspan="2">{{balanceToPay}}</td>
      </tr>

      <tr *ngFor="let method of methods">
        <td colspan="4">Paid by <span style="color:red">{{method.p_method}}</span> , Amount <span style="color:red">{{method.p_amount}}</span></td>
      </tr>

    </tbody>
  </table>
</div>


</div>
