<div [formGroup]="group" style="border:0px;float:right;">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <input *ngFor="let btn of config.buttons" type="submit" class="{{btn.classes}}" id="{{btn.id}}"  name="submit" value="{{btn.text}}" [disabled]="!group.valid" />
    </div>
  </div>
  
  </div>
