<ng-container *ngIf="config.col != -1">
<div [formGroup]="group" class="col-md-{{config.col}} col-xs-12">
    <div class="form-group">
      <label class="col-md-12 col-xs-12 control-label">{{config.label}} <span [hidden]="!config.required" class="required">*</span>
      </label>
      <div [ngClass]="{'col-md-12':!config.popupUrl,'col-md-10':config.popupUrl,'col-xs-10':true}">
        <select tabindex="{{config.tabIndex}}" class="form-control select2" id="{{config.name}}" name="{{config.name}}" formControlName="{{config.name}}">
          <option *ngIf="config.value == '-'" value="-">-</option>
          <option *ngFor="let option of config.options" value="{{option.value?option.value:option }}">{{option.text?option.text:option  }}</option>
        </select>
      </div>
      <div [hidden]="!config.popupUrl" class="col-md-2 col-xs-2" id="{{config.col}}">
        <a tabindex="-1" data-toggle="modal" href="#modal_{{config.name}}">
        <div  class="btn btn-sm btn-default btn-circle">
          <i class="fa fa-plus"></i>
        </div>
        </a>
      </div>
    </div>
    <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

</div>

  <popup (popupAfterSubmit)="afterPopupsubmit($event)" *ngIf="config.popupUrl"  [config]="popupConfig" [id]="config.name"></popup>
</ng-container>


<div [formGroup]="group" class="form-group" *ngIf="config.col == -1">
  <select  tabindex="{{config.tabIndex}}" id="{{config.name}}" name="{{config.name}}" formControlName="{{config.name}}" class="form-control select2 "  aria-hidden="false">
    <option *ngIf="config.value == '-'" value="-">-</option>
    <optgroup>
      <option *ngFor="let option of config.options" value="{{option}}">{{option}}</option>
    </optgroup>
  </select>
  <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

</div>
