<h1 *ngIf="!patientOrders" class="page-title">{{title}}</h1>


<generic-form (groupCreated)="searchGroupCreated($event)" (submited)="search($event)" [config]="searFormConfig" [defaultSubmit]=false></generic-form>

<generic-list (rowClicked)="rowClicked($event)"  [searchObject]="searchObject" [config]="searchListConfig"></generic-list>

<popup  [defaultSubmit]=false (submited)="order_status_filter($event)" [id]="order_status_popConfig.props.id" [config]="order_status_popConfig"></popup>
<popup  [defaultSubmit]=false (submited)="insurance_status_filter($event)" [id]="insurance_status_popConfig.props.id" [config]="insurance_status_popConfig"></popup>
