<h1 *ngIf="!config" class="page-title">Search Inventory</h1>
  <div class="panel-group accordion" id="accordion10">
    <div class="panel panel-default margin_acc">
      <div class="panel-heading portlet box blue no_margin">
        <h4 class="panel-title">
          <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion10" href="#collapse_3_10"> Item Code Search </a>
        </h4>
      </div>
      <div id="collapse_3_10" class="panel-collapse in">
        <div class="portlet-body form">
          <div class="col-md-12 blue-border">
            <div class="form-body form-no-padding">
              <div class="col-md-12">
                <div class="form-group inline">
                  <div class="col-md-4 col-xs-6">
                  <input type="text" tabindex="1"  (keyup)="search_enter($event)" [(ngModel)]="object.item_code" maxlength="5" class="form-control" placeholder="Enter Item Code" name="item_code">
                  </div>
                  <div class="col-md-1 col-xs-3">
                    <button type="submit" [disabled]="!object.item_code" (click)="search($event)" class="btn blue">Search</button>
                  </div>
                  <div class="col-md-2 col-xs-2" id="advanced_search">
                    <a class="text-center"  data-toggle="modal" href="#modal_inventory_popup_search">Advance Search</a>
                  </div>
                </div>


              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="panel-group accordion" id="accordion5">
    <div class="panel panel-default margin_acc">
      <div class="panel-heading portlet box blue no_margin">
        <h4 class="panel-title">
          <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion5" href="#collapse_3_5"> Search Result </a>
        </h4>
      </div>
      <div id="collapse_3_5" class="panel-collapse in">
        <div class="portlet-body form">
          <div class="col-md-12 blue-border">
            <div class="form-body form-no-padding">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-8 col-xs-8">
                    <label class="col-md-1 col-xs-4 control-label">Filters</label>
                    <tag-input  [removable]="all_tags[0] !='None'" [(ngModel)]="all_tags" (onRemove)="tagRemoved($event)" [(maxItems)]="all_tags.length" secondaryPlaceholder=""></tag-input>
                  </div>
                </div>
              </div>
              <div style="clear:both;"></div>
              <div class="divider"></div>
              <div class="row">
                <generic-list (rowClicked)="inventoryClicked($event)" [searchObject]="searchObject" [config]="searchListConfig"></generic-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>

<popup  [defaultSubmit]=false (submited)="submited($event)" [id]="popConfig.props.id" [config]="popConfig"></popup>
