@media only screen and (min-width : 1200px) {
  #advanced_search{
    height: 30px;
    padding-top: 7px;
    margin-left: 4px;
  }
}

.control-label{
  font-weight: bold;
  margin-right: 20px !important;
  padding-top: 7px;
}
