<div [formGroup]="group" class="form-actions" style="border:0px;float:right;">
    <div class="col-md-12 col-xs-12">
      <input  *ngFor="let btn of config.buttons" type="submit" class="{{btn.classes}}" id="{{btn.id}}" value="{{btn.text}}"/>
    </div>
</div>
