<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 control-label" for="form_control_1">{{config.label}}<span [hidden]="!config.required" class="required">*</span></label>
    <div class="col-md-12">
      <input email tabindex="{{config.tabIndex?config.tabIndex:-1}}" type="email" id="email_rcv"  formControlName="{{config.name}}" class="form-control" placeholder="" name="{{config.name}}">
        <div class="form-control-focus">
        </div>
      </div>
      <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

    </div>
  </div>
