<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 control-label" >{{config.label}}</label>
    <div class="col-md-12">
      {{config.value | uppercase }}
    </div>

  </div>
</div>
