<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group form-md-checkboxes">
    <label class="col-md-12 control-label" id="lbl_{{config.name}}" for="form_control_1">{{config.label}}</label>
    <div class="col-md-12" >
      <div class="md-checkbox-inline" formArrayName="{{config.name}}">
        <div class="md-checkbox" *ngFor="let option of group.controls[config.name].controls; let i = index">
          <input type="checkbox"  formControlName="{{i}}" id="{{config.name}}_{{i}}" value="{{config.options[i].text}}" class="md-check">
          <label for="{{config.name}}_{{i}}">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>
            {{config.options[i].text}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
