<generic-form (formChange)="examTypeChange($event)" [defaultSubmit]=false (submited)="add_fees($event)"   [config]="fees_config"></generic-form>

  <div class="panel panel-default margin_acc">
    <div class="panel-heading portlet box blue no_margin">
      <h4 class="panel-title">
        <a class="accordion-toggle accordion-toggle-styled acc_color collapsed"  data-toggle="collapse" data-parent="#accordion3" href="#add_product_part">Add Product to Cart</a>
      </h4>
    </div>
    <div id="add_product_part" class="panel-collapse collapse">
      <div class="portlet-body form">
        <div class="col-md-12 blue-border">
          <div class="form-body form-no-padding">
            <inventory-search (inventory_clicked)="inventory_clicked($event)" [config]="searchInventoryConfig"></inventory-search>
          </div>
        </div>
      </div>
    </div>
</div>
<div style="clear:both;"></div>

<!-- Precal accordion -->
<div class="panel panel-default margin_acc">
  <div class="panel-heading portlet box blue no_margin">
    <h4 class="panel-title">
      <a class="accordion-toggle accordion-toggle-styled acc_color collapsed"  data-toggle="collapse" data-parent="#accordion3" href="#precal">Precal</a>
    </h4>
  </div>
  <div id="precal" class="panel-collapse collapse">
    <div class="portlet-body form">
      <div class="col-md-12 blue-border">
        <div [formGroup]="group" class="form-body form-no-padding">
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">Value A (Vertical)</label>
            <div class="col-md-12">
              <input formControlName="value_a"   placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">ED</label>
            <div class="col-md-12">
              <input  formControlName="ed" placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">RE Height</label>
            <div class="col-md-12">
              <input formControlName="r_height"  placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">Value B (Horizontal)</label>
            <div class="col-md-12">
              <input formControlName="value_b"   placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">DBL</label>
            <div class="col-md-12">
              <input formControlName="dbl"  placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">LE Height</label>
            <div class="col-md-12">
              <input formControlName="le_height"  placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>

          <div style="clear:both;"></div>
          <div class="divider"></div>

          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">Lens Diameter</label>
            <div class="col-md-12">
              <input formControlName="lens_diameter"  placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">RE Lens Edge Thickness</label>
            <div class="col-md-12">
              <input formControlName="re_lens_edge"  placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>


          <div class="form-group col-md-4">
            <label class="col-md-12 control-label">LE Lens Edge Thickness</label>
            <div class="col-md-12">
              <input  formControlName="le_lens_edge" placeholder="-" value="" type="text" tabindex="-1" class="form-control">
            </div>
          </div>

          <div style="clear:both;"></div>
          <div class="form-group col-md-4 form-md-checkboxes">
            <br>
            <div class="col-md-12" formArrayName="precal_checkboxes">
                <div class="md-checkbox">
                  <input type="checkbox" formControlName="0" id="id_1" value="1" class="md-check">
                  <label for="id_1">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Oc's Exact
                  </label>
                </div>
            </div>
          </div>

          <div class="form-group col-md-4 form-md-checkboxes">
            <br>
            <div class="col-md-12" formArrayName="precal_checkboxes">
                <div class="md-checkbox">
                  <input type="checkbox"  formControlName="1" id="id_2" value="2" class="md-check">
                  <label for="id_2">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Kinfe Edge
                  </label>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div style="clear:both;"></div>

<!-- Cart Accordion -->
<div class="panel panel-default margin_acc">
  <div class="panel-heading portlet box blue no_margin">
    <h4 class="panel-title">
      <a class="accordion-toggle accordion-toggle-styled acc_color"  data-toggle="collapse" data-parent="#accordion3" href="#cart_part">Cart</a>
    </h4>
  </div>
  <div id="cart_part" class="panel-collapse in">
    <div class="portlet-body form">
      <div class="col-md-12 blue-border">
        <div class="form-body form-no-padding">
          <div class="col-md-12 table-responsive">
            <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
              <thead>
                <tr>

                    <th>Item Code</th>
                    <th>Item Type</th>
                    <th>Description</th>

                    <th width="7%">Qty</th>
                    <th>Price</th>
                    <th width="10%">Discount</th>
                    <th width="10%">Tax</th>
                    <th>Total</th>
                    <th width="10%">Action</th>
                </tr>
              </thead>
              <ng-container *ngIf="group.controls['cart'].value != '-' ">
              <tbody>
                <tr *ngFor="let item of group.controls['cart'].value;let i = index">

                  <td>{{item.item_code}}</td>

                  <td>{{item.type}}</td>
                  <td>{{item.desc}}</td>
                  <td>
                      <input tabindex="-1" (input)="qnty($event.target.value,i)" name="qnty"  type="text" class="form-control" [(ngModel)]="item.qnty">
                  </td>
                  <td>{{item.selling_price | number:'.2-2' }}</td>
                  <td>
                      <input class="disc" #disc tabindex="-1" (input)="discount($event.target.value,i)" name="disc" [(ngModel)]="item.disc"  type="text" class="form-control" value="0.00">
                  </td>
                  <td>{{ item.tax | number:'.2-2' }}</td>
                  <td><b>{{ item.total | number:'.2-2' }}</b></td>
                  <td><button class="btn btn-danger" (click)="deleteItem(item)">Delete</button> </td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <!--<td align="center"><b>{{ group.controls['usefulInfo'].value.price | number:'.2-2' }}</b></td>-->
                  <td align="center"><b>{{ group.controls['usefulInfo'].value.disc | number:'.2-2' }}</b></td>
                  <td align="center"><b>{{ group.controls['usefulInfo'].value.tax | number:'.2-2' }}</b></td>
                  <td align="center"><b>{{( group.controls['usefulInfo'].value.total) | number:'.2-2' }}</b></td>
                  <td></td>
                <tr>

                </tr>
              </tbody>
              </ng-container>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
