<div id="refund_popup" class="modal fade popup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog model_dia1">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form>
              <div class="form-group">
                <label for="">Reciept No.</label>
                <input type="text" (keyup)="getRecipetDetails($event)" [(ngModel)]="refundObj.reciept_no" class="form-control" name="reciept_no" value="">
              </div>
              <div class="form-group">
                <label for="">Amount.</label>
                <input type="text" [(ngModel)]="refundObj.amount" class="form-control" name="amount" value="">
              </div>
              <div class="form-group">
                <label for="">Order No.</label>
                <input type="text" readonly [(ngModel)]="refundObj.order_no" class="form-control" name="order_no" value="">
              </div>
              <div class="form-group">
                <label for="">Patient Name</label>
                <input type="text" readonly [(ngModel)]="refundObj.patient_name" class="form-control" name="patient_name" value="">
              </div>
              <div class="form-group">
                <label for="">Reason</label>
                <input type="text" [(ngModel)]="refundObj.reason" class="form-control" name="reason" value="">
              </div>

              <div class="form-group">
                <label >Refund Method</label>
                <select class="form-control"  [(ngModel)]="refundObj.refund_method" name="refund_method">
                  <option *ngFor="let method of orderModel.payment_methods" value="{{method.value}}">{{method.text}}</option>
                </select>
              </div>

              <div class="form-group">
                <button type="button" (click)="save()" [disabled]="!refundObj.order_no" class="btn blue">Save</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
