<div style="display:none" id="eye_exam_print" class="container">

<div class="row">
  <div class="col-md-4">
    <div class="text-center">
      <img src="http://198.12.156.161:4000/assets/layouts/layout/img/logo.png" alt="">
    </div>

    <h4 class="text-center" style="margin:20px"> Your prescription </h4>

    <div class="alert alert-dark" role="alert">
       <b>Your eyesight explained</b>

      <ul style="font-size:5pt;">

        <li>
          <b>Short sight - </b> Known as myopia, this means you can see clearly close-up objects but may find that distant objects are
            blurred. In this case, there will be a minus sign (-) in “Sphere” part of your prescription. You will probably
            need glasses for many everyday activities including driving, watching TV or sports.
        </li>

        <li>
          <b>Long sight - </b> Known as hyperopia, this means that close-up objects (and distant objects sometimes) may be out of
            focus. In this case, there will be a plus sign in the “Sphere” part of your prescription. You may need
            glasses for reading, VDU work, driving and watching TV.
        </li>

        <li>
          <b>Astigmatism - </b> This occurs when the curvature of the eye is not perfectly round. In this case, there will be numbers in
            the “cylinder” and “axis” parts of your prescription. Your vision may be blurred at all distances and you
            may need to wear glasses all the time.
        </li>

        <li>
          <b>Materials and design  - </b> this is the description of what type of contact lenses
          you have been supplied with
        </li>

        <li>
          <b>Presbyopia - </b> This occurs when the lens inside your eyes loses some of its flexibility so that it becomes difficult to
            focus on close-up objects. Presbyopia is a result of the eye’s aging process and it affects everyone from
            their mid-40s onwards. In this case, there will be a figure in the “near” or “intermediate” part of your
            prescription and you will probably need glasses for reading.
        </li>

      </ul>
    </div>

    <div class="alert alert-dark" role="alert">
       <b>Your spectacles prescription details explained</b>
      <ul>
        <li>
          <strong style="font-weight:bold">Spehre - </strong> this indicates the amount of long sightedness if a positive number (+) or short sightedness
          if a negative number (-)
        </li>

        <li>
          <b>Cylinder - </b> this indicates the amount of asightedness which is an irregular shape of
          the eye
        </li>

        <li>
          <b>Prism - </b> a coorection required to help muscales of both eyes coordinate
          and work together
        </li>

        <li>
          <b>Base - </b> the direction in which the prism is placed
        </li>

        <li>
          <b>Addition - </b> the addition power required for close work eg. reading
        </li>

        <li>
          <b>Axis - </b> this indicates the orientation of Cylinder
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <table class="table table-bordered">
      <tr>
        <th width="40%">Name.</th>
        <td>{{patient.first_name | uppercase }} {{patient.last_name | uppercase}}</td>
      </tr>
      <tr>
        <th>Patient Refrence No.</th>
        <td>{{patient._id}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{patient.address | uppercase }}</td>
      </tr>
      <tr>
        <th>Postcode</th>
        <td>{{patient.postal_code}}</td>
      </tr>
      <tr>
        <th>Date of birth</th>
        <td>{{patient.dob}}</td>
      </tr>
    </table>

    <div class="alert alert-dark">
      This is certified copy of your spectacles prescription
      following an eye examination on <b>{{group.controls['examination_date'].value}}</b>
      issued by <b>{{group.controls['optometrist'].value}}</b>
    </div>

    <div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"  [checked]="group.controls['recall_details'].controls['0'].value">
          No Ocular Pathology
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="group.controls['recall_details'].controls['1'].value">
          Ocular Pathology being managed in practice
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="group.controls['recall_details'].controls['2'].value">
          No Prescription was Required
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="group.controls['recall_details'].controls['3'].value">
          An unchanged prescription was issued
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="group.controls['recall_details'].controls['4'].value">
          A new or changed prescription was issued
        </label>
      </div>
    </div>
    <br>
    <div class="alert alert-dark">
      A further examination is recommended within <b> {{group.controls['rexam_after'].value}} months </b>
      which will be on <b> {{group.controls['reExamination_advised'].value}}</b>
    </div>

  </div>

  <div class="col-md-4">
    <h5>
      Your spectacles prescription
    </h5>

    <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Sphere</th>
          <th>Cylinder</th>
          <th>Axis</th>
          <th>Distence Acuity</th>
          <th>Near Acuity</th>
        </tr>
        <tr>
          <th>Right</th>
          <th>{{group.controls['sph'].value}}</th>
          <th>{{group.controls['cyl'].value}}</th>
          <th>{{group.controls['axis'].value}}</th>
          <th>{{group.controls['va'].value}}</th>
          <th>{{group.controls['va_n'].value}}</th>
        </tr>
        <tr>
          <th>Left</th>
          <th>{{group.controls['l_sph'].value}}</th>
          <th>{{group.controls['l_cyl'].value}}</th>
          <th>{{group.controls['l_axis'].value}}</th>
          <th>{{group.controls['l_va'].value}}</th>
          <th>{{group.controls['l_va_n'].value}}</th>
        </tr>
        <tr>
      </table>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th width="50%">Reading Addition</th>
            <th>{{group.controls['near_add'].value}}</th>
          </tr>
          <tr>
            <th>Intermidiate Addition</th>
            <th>{{group.controls['inter_add'].value}}</th>
          </tr>
          <tr>
            <th>Back Venex Distence</th>
            <th>{{group.controls['bvd'].value}}</th>
          </tr>
          <tr>
        </tbody>

        </table>

        <table class="table table-bordered">
            <tr>
              <th>#</th>
              <th>HPrism(D)</th>
              <th>HBase(D)</th>
              <th>Vprism(D)</th>
              <th>Vbase(D)</th>
            </tr>
            <tr>
              <th>Right</th>
              <th>{{group.controls['hprism_d_prism'].value}}</th>
              <th>{{group.controls['hbase_d_prism'].value}}</th>
              <th>{{group.controls['vprism_d_prism'].value}}</th>
              <th>{{group.controls['vbase_d_prism'].value}}</th>
            </tr>
            <tr>
              <th>Left</th>
              <th>{{group.controls['l_hprism_d_prism'].value}}</th>
              <th>{{group.controls['l_hbase_d_prism'].value}}</th>
              <th>{{group.controls['l_vprism_d_prism'].value}}</th>
              <th>{{group.controls['l_vbase_d_prism'].value}}</th>
            </tr>
            <tr>

          </table>

          <h5>
            Your spectacles are required for :
          </h5>

          <div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="one" [checked]="group.controls['p_recommendation'].controls['0'].value">
                Distance
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" value="two" [checked]="group.controls['p_recommendation'].controls['1'].value">
                Bifocals
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" value="3" [checked]="group.controls['p_recommendation'].controls['2'].value">
                Reading / Near
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" value="4" [checked]="group.controls['p_recommendation'].controls['3'].value">
                Vari Focals / Progressives
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" value="5" [checked]="group.controls['p_recommendation'].controls['4'].value">
                Suitalbe for Contact Lens trail
              </label>
            </div>

          </div>

          <div class="row" style="margin-top:30px">
            <div class="col-md-5">
              <hr/>
              <b>Optician's Signuture</b>
              <br><br><br>
              <hr/>
              <b>Patient's Name</b>
            </div>
            <div class="col-md-3 offset-md-3" id="exam_date" style="float:right">
              {{group.controls['examination_date'].value}}
              <hr/>
              <b>Date</b>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" class="box">

            </div>
          </div>
  </div>
</div>

</div>
