<h1 class="page-title">{{title}}</h1>

<generic-form  (formChange)="formChange($event)" (submited)="search($event)" [config]="searFormConfig" [defaultSubmit]=false></generic-form>

<generic-list (rowClicked)="patientClicked($event)" [searchObject]="searchObject" [config]="searchListConfig"></generic-list>
