<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 control-label">{{config.label}}</label>
    <div class="col-md-12">
      <textarea tabindex="{{config.tabIndex?config.tabIndex:-1}}" class="form-control" formControlName="{{config.name}}" rows="3" name="{{config.name}}">
      </textarea>
    </div>
  </div>
</div>
