<div style="display:none" id="order" class="container">

<div class="row">
  <div class="col-6" >
    <table class="table" border="0">
      <tbody>
        <tr>
          <td rowspan="5" width="40%">
            <img src="http://198.12.156.161:4000/assets/layouts/layout/img/logo.png" alt="">
          </td>
          <td>Company Name</td>
        </tr>
        <tr>
          <td>Branch Address</td>
        </tr>
        <tr>
          <td>DoBox</td>
        </tr>
        <tr>
          <td>City</td>
        </tr>
        <tr>
          <td>Country</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3 offset-3" >
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="40%">Tel</td>
          <td></td>
        </tr>
        <tr>
          <td>Email</td>
          <td></td>
        </tr>
        <tr>
          <td>Web</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Order & Patient details -->
<div class="row">
  <div class="col-6" *ngIf="printConfig.type == 0">
    <table class="table table-bordered" border="0">
      <caption  align="top">Patient Details</caption>

      <tbody>
        <tr>
          <td>Patient Name</td>
          <td>{{group.controls['patient_name'].value}}</td>
        </tr>
        <tr>
          <td>Date Of Birth</td>
          <td>{{group.controls['dob'].value}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{group.controls['email'].value}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{group.controls['mobile'].value}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-6" >
    <table class="table table-bordered">
      <caption>Detail Order</caption>

      <tbody>
        <tr>
          <td>Order Number</td>
          <td>{{group.controls['order_number'].value}}</td>
        </tr>
        <tr>
          <td>Order Date</td>
          <td>{{group.controls['order_date'].value}}</td>
        </tr>
        <tr>
          <td>Delivered Date</td>
          <td>{{group.controls['delivered_date'].value}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- Final -->

<div class="row" *ngIf="group.controls['examData'].value.exam_type == 'EYE_EXAM'">
  <div class="col-12">
    <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
      <caption>Final RX</caption>
      <thead>
        <tr>
          <th></th>
          <th>Sph</th>
          <th>Cyl</th>
          <th>Axis</th>
          <th>Mono PD</th>
          <th>Dist PD</th>
          <th>Mono NPD</th>
          <th>Near PD</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th>RE</th>
          <td>{{group.controls['examData'].value.sph}}</td>
          <td>{{group.controls['examData'].value.cyl}}</td>
          <td>{{group.controls['examData'].value.axis}}</td>
          <td>{{group.controls['examData'].value.mono_pd}}</td>
          <td rowspan="2">{{group.controls['examData'].value.pd}}</td>
          <td>{{group.controls['examData'].value.mono_npd}}</td>
          <td rowspan="2">{{group.controls['examData'].value.near_pd}}</td>
        </tr>
        <tr>
          <th>LE</th>
          <td>{{group.controls['examData'].value.l_sph}}</td>
          <td>{{group.controls['examData'].value.l_cyl}}</td>
          <td>{{group.controls['examData'].value.l_axis}}</td>
          <td>{{group.controls['examData'].value.l_mono_pd}}</td>
          <td>{{group.controls['examData'].value.l_mono_npd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="group.controls['examData'].value.exam_type == 'EYE_EXAM'">
  <div class="col-12">
    <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
      <thead>
        <tr>
          <th></th>
          <th>Near Add</th>
          <th>Inter Add </th>
          <th>Vision(D)</th>
          <th>VA(D)</th>
          <th>VA(N)</th>
          <th>BVD</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th>RE</th>
          <td>{{group.controls['examData'].value.near_add}}</td>
          <td>{{group.controls['examData'].value.inter_add}}</td>
          <td>{{group.controls['examData'].value.vision_d}}</td>
          <td>{{group.controls['examData'].value.va}}</td>
          <td >{{group.controls['examData'].value.va_n}}</td>
          <td>{{group.controls['examData'].value.bvd}}</td>
        </tr>
        <tr>
          <th>LE</th>
          <td>{{group.controls['examData'].value.l_near_add}}</td>
          <td>{{group.controls['examData'].value.l_inter_add}}</td>
          <td>{{group.controls['examData'].value.l_vision_d}}</td>
          <td>{{group.controls['examData'].value.l_va}}</td>
          <td >{{group.controls['examData'].value.l_va_n}}</td>
          <td>{{group.controls['examData'].value.l_bvd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="group.controls['examData'].value.exam_type == 'CONTACT_EXAM'">
  <div class="col-12">
    <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
      <caption>Final RX</caption>
      <thead>
        <tr>
          <th></th>
          <th>Base Curve</th>
          <th>Diameter</th>
          <th>Sph</th>
          <th>Cyl</th>
          <th>Axis</th>
          <th>Add</th>
          <th>Add Type</th>

        </tr>

      </thead>
      <tbody>
        <tr>
          <th>RE</th>
          <td>{{group.controls['examData'].value.base_curve}}</td>
          <td>{{group.controls['examData'].value.diameter}}</td>
          <td>{{group.controls['examData'].value.sph}}</td>
          <td>{{group.controls['examData'].value.cyl}}</td>
          <td >{{group.controls['examData'].value.axis}}</td>
          <td>{{group.controls['examData'].value.add}}</td>
          <td >{{group.controls['examData'].value.add_type}}</td>
        </tr>
        <tr>
          <th>LE</th>
          <td>{{group.controls['examData'].value.l_base_curve}}</td>
          <td>{{group.controls['examData'].value.l_diameter}}</td>
          <td>{{group.controls['examData'].value.l_sph}}</td>
          <td>{{group.controls['examData'].value.l_cyl}}</td>
          <td >{{group.controls['examData'].value.l_axis}}</td>
          <td>{{group.controls['examData'].value.l_add}}</td>
          <td >{{group.controls['examData'].value.l_add_type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="group.controls['examData'].value.exam_type == 'CONTACT_EXAM'">
  <div class="col-12">
    <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
      <thead>
        <tr>
          <th></th>
          <th>D V/A</th>
          <th>D Binoc </th>
          <th>N V/A</th>
          <th>N Binoc</th>
          <th>CL Brand</th>
          <th>CL Name</th>
          <th>CL Color</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th>RE</th>
          <td>{{group.controls['examData'].value.D_V_A}}</td>
          <td>{{group.controls['examData'].value.D_Binoc}}</td>
          <td>{{group.controls['examData'].value.N_V_A}}</td>
          <td>{{group.controls['examData'].value.N_Binco}}</td>
          <td >{{group.controls['examData'].value.CL_Brand}}</td>
          <td>{{group.controls['examData'].value.CL_Name}}</td>
          <td>{{group.controls['examData'].value.CL_Color}}</td>

        </tr>
        <tr>
          <th>LE</th>
          <td>{{group.controls['examData'].value.l_D_V_A}}</td>
          <td>{{group.controls['examData'].value.l_D_Binoc}}</td>
          <td>{{group.controls['examData'].value.l_N_V_A}}</td>
          <td>{{group.controls['examData'].value.l_N_Binco}}</td>
          <td >{{group.controls['examData'].value.l_CL_Brand}}</td>
          <td>{{group.controls['examData'].value.l_CL_Name}}</td>
          <td>{{group.controls['examData'].value.l_CL_Color}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Cart -->
<div class="row">
  <div class="col-12">
    <table  class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="cart_tbl">
      <caption>Cart</caption>

      <thead>
        <tr>

            <th>Item Code</th>
            <th>Item Type</th>
            <th>Description</th>

            <th width="7%">Qty</th>
            <th>Price</th>
            <th width="10%">Discount</th>
            <th width="10%">Tax</th>
            <th>Total</th>
        </tr>
      </thead>
      <ng-container *ngIf="group.controls['cart'].value != '-' ">
      <tbody>
        <tr *ngFor="let item of group.controls['cart'].value;let i = index">

          <td>{{item.item_code}}</td>

          <td>{{item.type}}</td>
          <td>{{item.desc}}</td>
          <td>{{item.qnty}}</td>
          <td>{{item.selling_price | number:'.2-2' }}</td>
          <td>{{item.disc}}</td>
          <td>{{ item.tax | number:'.2-2' }}</td>
          <td><b>{{ item.total | number:'.2-2' }}</b></td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <!--<td align="center"><b>{{ group.controls['usefulInfo'].value.price | number:'.2-2' }}</b></td>-->
          <td align="center"><b>{{ group.controls['usefulInfo'].value.disc | number:'.2-2' }}</b></td>
          <td align="center"><b>{{ group.controls['usefulInfo'].value.tax | number:'.2-2' }}</b></td>
          <td align="center"><b>{{( group.controls['usefulInfo'].value.total) | number:'.2-2' }}</b></td>
        <tr>

        </tr>
      </tbody>
      </ng-container>
    </table>

  </div>
</div>

<!-- Precal -->
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-bordered">
      <caption>Precal</caption>
      <tbody>
        <tr>
          <td>Value A (Vertical)</td>
          <td>ED</td>
          <td>RE Height</td>
          <td>Value B (Horizontal)</td>
          <td>DBL</td>
          <td>LE Height</td>
          <td>Lens Diameter</td>
          <td>RE Lens Edge Thickness</td>
          <td>LE Lens Edge Thickness</td>
          <td>Oc's Exact</td>
          <td>Kinfe Edge</td>
        </tr>
        <tr>
          <td>{{group.controls['value_a'].value}}</td>
          <td>{{group.controls['ed'].value}}</td>
          <td>{{group.controls['r_height'].value}}</td>
          <td>{{group.controls['value_b'].value}}</td>
          <td>{{group.controls['dbl'].value}}</td>
          <td>{{group.controls['le_height'].value}}</td>
          <td>{{group.controls['lens_diameter'].value}}</td>
          <td>{{group.controls['re_lens_edge'].value}}</td>
          <td>{{group.controls['le_lens_edge'].value}}</td>
          <td>
              <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"  [checked]="group.controls['precal_checkboxes'].controls['0'].value">
              </label>
            </div>
          </td>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="group.controls['precal_checkboxes'].controls['1'].value">
              </label>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- Order Notes -->
<div class="row">
    <div class="form-group">
      <label class="col-12">Order Notes</label>
      <div class="col-12">
        <textarea class="form-control" cols="80">{{group.controls['order_notes'].value}}</textarea>
      </div>
    </div>
</div>
<!-- Payment Details -->
<div class="row"  *ngIf="printConfig.type == 0">
  <div class="col-2">
    <table class="table table-bordered">
      <caption>Billing Details</caption>
      <tbody>
        <tr>
          <td>Total Amount</td>
          <td>{{group.controls['total_amount'].value}}</td>
        </tr>
        <tr>
          <td>Amount Paid</td>
          <td>{{group.controls['amount_paid'].value}}</td>
        </tr>
        <tr>
          <td>Balance Amount</td>
          <td>{{group.controls['balance_amount'].value}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-10">
    <payment_summary [printGroup]="group"></payment_summary>
  </div>
</div>
