<h1 class="page-title">
  <span *ngIf="!accordionsConfig">Eye Exam</span>
  </h1>

<generic-form (modelData)="modelData($event)" (afterSubmited)="afterSubmited($event)" (groupCreated)="groupCreated($event)" (formChange)="formChange($event)" [config]="config"></generic-form>

<printout-eye  *ngIf="patient_data && group" [group]="group" [patient]="patient_data"></printout-eye>
