<h1 *ngIf="!isEdit" class="page-title">{{title}}</h1>
<generic-form (afterSubmited)="afterSubmited($event)" (modelData)="patientData.emit($event)" (formChange)="formChange($event)" [config]="config"></generic-form>
<exam-type [patient_id]="patient_id"></exam-type>
