<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group form-md-radios">
    <label class="col-md-12 col-xs-12 control-label" for="form_control_1">{{config.label}}</label>
    <div class="col-md-12 col-xs-12">
      <div class="md-radio-inline">

      <div class="md-radio" *ngFor="let option of config.options,let i = index">
        <input tabindex="-1" type="radio" formControlName="{{config.name}}" id="{{config.name}}_{{i+1}}" value="{{option.value}}" class="md-radiobtn" Checked="Checked">
        <label for="{{config.name}}_{{i+1}}">
        <span>
        </span>
        <span class="check">
        </span>
        <span class="box">
        </span> {{option.text}}</label>
      </div>

      </div>
    </div>
  </div>
</div>
