
        <div align="center">
          <spinner size="40" *ngIf="working" [tickness]="1" color="#2D5F8B"></spinner>
        </div>

        <div class="tab-pane active" >
          <div  class="alert alert-danger" [ngClass]="{'display-hide':!error}">
            <button class="close" (click)="error=false"></button>
              You have some form errors. Please check below.
            </div>

          <div class="alert alert-success" [ngClass]="{'display-hide':!success}">
            <button class="close" (click)="success=false"></button>
              {{config.props.msg}}
          </div>

<div *ngIf="config.props.title" class="m-heading-1 border-blue m-bordered">
  <p>{{config.props.title}}</p>
</div>
<div style="clear:both;"></div>

<div class="panel-group accordion" id="accordion3">
  <form [formGroup]="group" (change)="formChange.emit({group:group,event:$event})" (ngSubmit)="submit(group.value)">
    <ng-container *ngFor="let accordion of config['accordions'];let i = index">
    <div class="panel panel-default margin_acc" *ngIf="accordion.title">
      <div class="panel-heading portlet box blue no_margin">
        <h4 class="panel-title">
          <a class="accordion-toggle accordion-toggle-styled acc_color {{accordion.aria_expanded}}"  data-toggle="collapse" data-parent="#accordion3" href="#{{config.props.id}}_{{i+1}}"> {{accordion.title}}</a>
        </h4>
      </div>
      <div id="{{config.props.id}}_{{i+1}}" class="panel-collapse {{accordion.aria_expanded?'collapse':'in'}}">
        <div class="portlet-body form">
          <div class="col-md-12 blue-border">
            <div class="form-body form-no-padding">

              <ng-container *ngFor="let rows of accordion['rows'] ; let i = index">
                <ng-container
                  *ngFor="let element of rows"
                  dynamicField
                  [group]="group"
                  [config]="element"
                ></ng-container>
                <div style="clear:both;"></div>
                <div *ngIf="accordion['rows'].length > 1 && i < accordion['rows'].length-1" style="clear:both;"></div>
                <div *ngIf="accordion['rows'].length > 1 && i < accordion['rows'].length-1" class="divider"></div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div style="clear:both;"></div>
      <ng-container
        *ngIf="!accordion.title"
        dynamicField
        [group]="group"
        [config]="accordion.rows[0][0]"
      ></ng-container>
      <div style="clear:both;"></div>

  </ng-container>
  </form>
</div>
</div>
