<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 control-label" id="lbl_{{config.name}}">{{config.label}}<span [hidden]="!config.required" class="required">*</span></label>
  <div class="col-md-12">

    <input type="text" tabindex="{{config.tabIndex?config.tabIndex:-1}}"  formControlName="{{config.name}}" class="form-control example1" placeholder="dd/mm/yyyy" name="{{config.name}}">
    </div>
    <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

  </div>
</div>
