<div [formGroup]="group" class="form-actions" style="border:0px;float:right;">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <ng-container *ngFor="let btn of config.buttons">
      <button (click)="click($event,btn)" type="submit" class="{{btn.classes}}" id="{{btn.id}}"  name="submit"  [disabled]="!group.valid"><i *ngIf="btn.icon" class="fa fa-{{btn.icon}}"></i>{{btn.text}}</button>
      &nbsp;
    </ng-container>
    </div>
  </div>
  </div>
