<div class="col-md-{{config.col}} form-no-padding">
  <div *ngFor="let element of config.rows">
    <ng-container
      dynamicField
      [group]="group"
      [config]="element"
    ></ng-container>
    <div style="clear:both;"></div>
    <div class="divider_height"></div>
  </div>



</div>
