form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
	display:block;
	font-size: 12px;
}

input:focus { border: 1px solid black; }
input.error { border: 1px solid red; width: 100%;}
