<h1 class="page-title" *ngIf="!config">Examination History - {{ patient.first_name | uppercase }} {{ patient.last_name | uppercase }}</h1>
<div class="row" *ngIf="!config">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <ul class="nav nav-tabs">
        <li><a routerLink="/patient/{{patient._id}}" >Profile</a></li>
        <li><a href="">Recall</a></li>
        <li class="active"><a routerLink="/examHistory/{{patient._id}}">Examination History</a></li>
        <li><a routerLink="/orderHistory/{{patient._id}}">Orders History </a></li>
      </ul>
      <div class="tab-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-md-2 col-xs-12 control-label">Patient Exams
              </label>

              <div class="col-md-8 col-xs-12 " [ngClass]="{'col-md-offset-4':config}">
                <ng-select
                  [items]="exams"
                  [cols]="['Date','TIME','EXAM TYPE','EXAM LABEL']"
                  [rows]="rows"
                  (selected)="exam_date_selected($event)"
                  placeholder="Select Exam Date">
                </ng-select>
              </div>

            </div>
          </div>
        </div>

        <eye-exam *ngIf="examConfig !=undefined && examConfig.type == 'EYE_EXAM' " [examConfig]="examConfig" [patient]="patient"></eye-exam>
        <contact-lens *ngIf="examConfig !=undefined && examConfig.type == 'CONTACT_EXAM' " [examConfig]="examConfig" [patient]="patient"></contact-lens>

      </div>
    </div>
  </div>
</div>

<div *ngIf="config">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-8 col-xs-12 col-md-offset-4">
          <ng-select
            [items]="exams"
            [cols]="['Date','TIME','EXAM TYPE','EXAM LABEL']"
            [rows]="rows"
            [active]="active"
            (selected)="exam_date_selected($event)"
            placeholder="Select Exam Date">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <eye-exam [accordionsConfig]="accordionsConfig" *ngIf="examConfig !=undefined && examConfig.type == 'EYE_EXAM' " [examConfig]="examConfig" [patient]="patient"></eye-exam>
  <contact-lens [accordionsConfig]="accordionsConfig" *ngIf="examConfig !=undefined && examConfig.type == 'CONTACT_EXAM' " [examConfig]="examConfig" [patient]="patient"></contact-lens>
</div>
