<h1 class="page-title">Patient Profile - {{ patient.first_name | uppercase }} {{ patient.last_name | uppercase}}</h1>
<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <ul class="nav nav-tabs">
        <li  class="active"><a routerLink="/patient/{{patient._id}}" >Profile</a></li>
        <li><a href="">Recall</a></li>
        <li><a routerLink="/examHistory/{{patient._id}}">Examination History</a></li>
        <li><a routerLink="/orderHistory/{{patient._id}}">Orders History </a></li>
      </ul>
      <div class="tab-content">
          <patient (patientData)="afterPatientDataBack($event)" [isEdit]="true"></patient>
      </div>
    </div>
  </div>
</div>
