<div [formGroup]="group" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 col-xs-12 control-label" style="font-weight:bold">{{config.label}}</label>
    <div class="col-md-12 col-xs-12">
      <nouislider [config]="rangeConfig" [min]="0" [max]="10000" [step]="0.5" formControlName="{{config.name}}" ></nouislider>
    </div>
  </div>
</div>
