<h1 class="page-title">Add Inventory</h1>

<generic-form  (formChange)="formChange($event)" [config]="config"></generic-form>
<generic-form (afterSubmited)="afterSubmited()" (groupCreated)="groupCreated($event)" [config]="inventoryConfig"></generic-form>
