<div class="page-footer" style="text-align:right">
    <div class="page-footer-inner" style="float:none"> {{year}} &copy;
        <a  tabindex="-1" href="#" style="color:#FFF">OptiCareSolution  | Khatau Software</a>
    </div>
</div>
