<div class="col-md-12 no-padding">
  <div class="table-responsive">
    <table class="table table-bordered tbl_head" [ngClass]="config.name">
      <thead>
        <tr>
          <th *ngFor="let header of config.headers">{{header}}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of config.rows">
          <td class="tbl_head_td" *ngIf="row[0]=='RE' || row[0]=='LE'">{{row[0]}}</td>
          <td  *ngFor="let field of row.slice(1)" width="{{field.width}}" [attr.rowspan]="field.rowspan?field.rowspan:1">

            <ng-container
              dynamicField
              [group]="group"
              [config]="field"
            ></ng-container>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
