<h4 class="page-title" *ngIf="!printGroup">Payment History</h4>

<div class="col-12 table-responsive">
  <table  id="payment_summary_tbl" class="table table-condensed table-striped table-bordered table-hover table-checkable order-column">
    <caption *ngIf="printGroup">Payment History</caption>
    <thead>
      <tr>
          <th>Payment ID</th>
          <th>Date Paid</th>
          <th>Payment Method</th>
          <th>Amount Paid</th>
          <th>Comment</th>
          <th *ngIf="group.controls['order_number']"> Reciept </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of group.controls['payment_summary'].value;let i = index">
        <td>{{i+1}}</td>
        <td>{{item.p_date}}</td>
        <td>{{item.p_method}}</td>
        <td *ngIf="item.p_amount">{{item.p_amount | number:'.2-2'}}</td>
        <td *ngIf="!item.p_amount">{{item.p_amount}}</td>
        <td>{{item.comment | uppercase }}</td>
        <td *ngIf="group.controls['order_number']"> <button (click)="getRecipet($event , group.controls['order_number'].value,item.receipt)" class="btn">Reciept</button> </td>
      </tr>
    </tbody>
  </table>
</div>
