<ng-container *ngIf="validators">

  <div *ngIf="group.controls[name].invalid && (group.controls[name].dirty || group.controls[name].touched)">

  <ng-container *ngFor="let rule of validators">
    <div  *ngIf="group.hasError(rule,[name])">
      <label class="validation col-md-12 control-label" *ngIf="label">{{label}}{{validatorMessages[rule]}}</label>
      <label class="validation col-md-12 control-label" *ngIf="!label">{{validatorMessages[rule]}}</label>

    </div>
  </ng-container>
</div>
</ng-container>
