<div [formGroup]="group" class="col-md-{{config.col}} col-xs-12">
  <div class="form-group" style="padding-left:16px">
    <label class="control-label" style="font-weight:bold">{{config.label}}</label>
    <tag-input (onRemove)="tagRemoved($event)" (keyup)="submit($event)" addOnBlur="true" tabindex="-1" [separatorKeyCodes]="keys" secondaryPlaceholder="Enter Keywords" placeholder="Enter Keywords" formControlName="{{config.name}}" ></tag-input>
  </div>
</div>
