<div class="page-sidebar-wrapper">

    <div class="page-sidebar navbar-collapse collapse">

      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="100" style="padding-top: 30px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search"></form>
            </li>
            <li class="nav-item start">
                <a tabindex="-1" href="index.html" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="nav-item active">
                <a tabindex="-1" href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Patient</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a tabindex="-1" [routerLink]="['/patient']"  class="nav-link ">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span class="title">New Patient</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a tabindex="-1" [routerLink]="['/patient/search']"  class="nav-link ">
                           <i class="glyphicon glyphicon-search"></i>
                            <span class="title">Patient Search</span>
                        </a>
                    </li>
                </ul>
            </li>


          <li class="nav-item start active">
            <a tabindex="-1" href="javascript:;" class="nav-link nav-toggle">
              <i class="glyphicon glyphicon-blackboard"></i>
              <span class="title">Examination</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/newExam']"  class="nav-link">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span class="title">New Exam</span>
                    </a>
                </li>

            </ul>
          </li>


          <li class="nav-item start active">
            <a tabindex="-1" href="javascript:;" class="nav-link nav-toggle">
              <i class="glyphicon glyphicon-sunglasses"></i>
              <span class="title">Inventory</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/inventory']"  class="nav-link">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span class="title">Add Item</span>
                    </a>
                </li>

                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/inventory/search']"  class="nav-link">
                        <i class="glyphicon glyphicon-search"></i>
                        <span class="title">Search & Edit</span>
                    </a>
                </li>

            </ul>
          </li>

          <li class="nav-item start active">
            <a tabindex="-1" href="javascript:;" class="nav-link nav-toggle">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span class="title">Dispensing</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/order']"  class="nav-link">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span class="title">New Order</span>
                    </a>
                </li>

                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/order/search']"  class="nav-link">
                        <i class="glyphicon glyphicon-search"></i>
                        <span class="title">Orders List</span>
                    </a>
                </li>

            </ul>
          </li>

          <li class="nav-item start active">
            <a tabindex="-1" href="javascript:;" class="nav-link nav-toggle">
              <i class="glyphicon glyphicon-usd"></i>
              <span class="title">Finance</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a tabindex="-1" [routerLink]="['/cashbook']"  class="nav-link">
                        <i class="glyphicon glyphicon-usd"></i>
                        <span class="title">CashBook</span>
                    </a>
                </li>


            </ul>
          </li>


        </ul>
    </div>
</div>
