<h1 class="page-title">Orders History - {{ patient.first_name | uppercase }} {{ patient.last_name | uppercase }}</h1>
<div class="row" >
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <ul class="nav nav-tabs">
        <li><a routerLink="/patient/{{patient._id}}" >Profile</a></li>
        <li><a href="">Recall</a></li>
        <li><a routerLink="/examHistory/{{patient._id}}">Examination History</a></li>
        <li class="active"><a routerLink="/orderHistory/{{patient._id}}">Orders History </a></li>
      </ul>
      <div class="tab-content">
          <order-search [patientOrders]="patientOrders"></order-search>
      </div>
    </div>
  </div>
</div>
