<h1 class="page-title">CashBook</h1>


<div class="row">
  <div class="col-12 text-center">
    <form>
      <div class="col-7 form-group form-inline">
        <label for="">Date</label>
        <input type="text" name="date" [ngModel]="date" class="form-control" id="datepicker" value="">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered tbl_head">
      <caption>&nbsp;</caption>
      <thead>
        <tr>
          <th>Inflow</th>
          <th>Outflow</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Opening Cash</label>
              <input readonly type="text" name="openingCash" class="form-control" [ngModel]="cashesInfo.openingCash">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <label for="">Sales</label>
              <input readonly type="text" name="" class="form-control" value="{{sales}}">
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Petty Cash</label>
              <input readonly type="text" name="" class="form-control" value="{{petty_cash}}">
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Refund Amount</label>
              <input readonly type="text" name="" class="form-control" value="{{refundAmount}}">
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Bank Deposit</label>
              <input type="text" name="" class="form-control" value="{{bnk_deposite}}" (input)="bank_deposite($event.target.value)" value="">
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Tentative <br> Closing Cash</label>
              <input readonly type="text" name="" class="form-control" value="{{tentativeClosingCash}}">
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Discrepancy</label>
              <input readonly type="text" name="" class="form-control" value="{{discrepancy}}">
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>
            <div class="form-group">
              <label for="">Final <br> Closing Cash</label>
              <input readonly type="text" name="" class="form-control" value="{{actual_cache_in_hand}}">
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-bordered tbl_head">
      <caption>Cash Info For The Day</caption>
      <thead>
        <tr>
          <th>Payment Mode</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.payment_summary.p_method}}</td>
          <td>{{transaction.payment_summary.p_amount}}</td>
        </tr>
      </tbody>
    </table>


      <table class="table table-bordered tbl_head">
        <caption>Refunds Issues</caption>
        <thead>
          <tr>
            <th>Refund To</th>
            <th>Order No.</th>
            <th>Receipt No.</th>
            <th>Amount</th>
            <th>Reason</th>
            <th>Refund Method</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let refund of refunds">
            <td>{{refund.patient_name}}</td>
            <td>{{refund.order_no}}</td>
            <td>{{refund.reciept_no}}</td>
            <td>{{refund.amount}}</td>
            <td>{{refund.reason}}</td>
            <td>{{refund.refund_method}}</td>
          </tr>
        </tbody>
      </table>

      <a data-toggle="modal"  href="#refund_popup">Add Another Refund</a>
      <table class="table table-bordered tbl_head">
        <caption>Reconciliation</caption>
        <thead>
          <tr>
            <th>Tentative Closing Cash</th>
            <th>Actual Cache in Hand</th>
            <th>Discrepancy</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input readonly type="text" name="" class="form-control" value="{{tentativeClosingCash}}">
            </td>
            <td>
              <input  type="text" (input)="actual_in_hand($event.target.value)" value="{{actual_cache_in_hand}}" name="" class="form-control" value="0.0">
            </td>
            <td>
              <input readonly type="text" name="" class="form-control" value="{{discrepancy}}">
            </td>
            <td>
              <input  type="text" name="" class="form-control" value="">
            </td>

          </tr>
        </tbody>
      </table>

  </div>
</div>
<app-refundPopup (afterSave)="afterRefundSave($event)"></app-refundPopup>
