<h1  class="page-title">
  <span *ngIf="!accordionsConfig">Contact Lens Exam</span>
</h1>

<generic-form (formChange)="formChange($event)" (modelData)="modelData($event)" (afterSubmited)="afterSubmited($event)" (groupCreated)="groupCreated($event)" [config]="config"></generic-form>
<printout-contact  *ngIf="patient_data && group" [group]="group" [patient]="patient_data"></printout-contact>
