/* You can add global styles to this file, and also import other style files */
#balance_amount{
  color : red !important;
  font-weight: bold;
}
#lbl_balance_amount{
  font-weight: bold;
}

@import "~nouislider/distribute/nouislider.min.css";
