<div [formGroup]="group" *ngIf="config.col != -1" class="col-md-{{config.col}}">
  <div class="form-group">
    <label class="col-md-12 control-label" id="lbl_{{config.name}}">{{config.label}}<span [hidden]="!config.required" class="required">*</span>
    </label>
    <div class="col-md-12">
      <input  [readonly]="config.readOnly" placeholder="{{config.value == '-' ? '-':''}}" value="{{config.value != '-' ? config.value: ''}}" type="text" id="{{config.name}}" tabindex="{{config.tabIndex?config.tabIndex:-1}}" formControlName="{{config.name}}" class="form-control {{config.classes.join(' ')}}">
    </div>

    <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>
  </div>
</div>

<div [formGroup]="group" class="form-group" *ngIf="config.col == -1">
  <input   [readonly]="config.readOnly" placeholder="{{config.value == '-' ? '-':''}}" value="{{config.value != '-' ? config.value:''}}" type="text" id="{{config.name}}" class="form-control" tabindex="{{config.tabIndex?config.tabIndex:-1}}" formControlName="{{config.name}}">
  <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>
</div>
