<div class="page-container" *ngIf="withMenu" >
    <app-menu></app-menu>
    <div class="page-content-wrapper">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>

  <ng-container *ngIf="!withMenu">
    <router-outlet></router-outlet>
  </ng-container>
