<h1 class="page-title" *ngIf="!isEdit">New Order</h1>
<h1 class="page-title" *ngIf="isEdit">Edit Order</h1>

<generic-form (afterGroupPopulate)="afterGroupPopulate($event)"(afterSubmited)="afterSubmited($event)"(groupCreated)="groupCreated($event)"(formChange)="formChange($event)"   [config]="config"></generic-form>
<div style="clear:both;"></div>

<printout-detailed  [printConfig]="printConfig" [group]="group"></printout-detailed>
