<div class="login">
        <!-- BEGIN LOGO -->
        <div class="logo">
             <a href="index.html">
                <img src="assets/layouts/layout/img/logo.png" alt=""> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <div [formGroup]="loginForm">
                <h3 class="form-title font-green">Sign In</h3>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input tabindex="1" formControlName="name" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username">
                    <label *ngIf="loginForm.hasError('required',['name'])"class="validation col-md-12 control-label">Username field is required</label>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input tabindex="2" formControlName="pass" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password">
                    <label *ngIf="loginForm.hasError('required',['pass'])"class="validation col-md-12 control-label">Password field is required</label>
                </div>

                <div class="form-actions">
                    <button [disabled]="!loginForm.valid || working" class="btn green uppercase" (click)="login()" >Login</button>
                    <label class="rememberme check mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="1">Remember
                        <span></span>
                    </label>
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                    <div align="center" class="loading">
                      <label *ngIf="error"class="validation col-md-12 control-label">Invalid username & password</label>
                      <spinner size="30" *ngIf="working" [tickness]="1" color="#2D5F8B"></spinner>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright"> 2017 &copy; Opticare | Khatau Software </div>
</div>
