<div [formGroup]="group" class="col-md-{{config.col}} col-xs-12">
  <div class="form-group">
    <label class="col-md-12 col-xs-12 control-label" for="form_control_1">{{config.label}}<span [hidden]="!config.required" class="required">*</span></label>
    <div class="col-md-4 phone-code col-xs-4">
      <span>+</span><input type="text" value="254" class="form-control inline">
    </div>
    <div class="col-md-8 col-xs-8">
      <input tabindex="{{config.tabIndex?config.tabIndex:-1}}" type="text" formControlName="{{config.name}}" class="form-control phone_rcv" placeholder="" name="{{config.label}}">
    </div>
    <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

  </div>
</div>
